/*---Tabs---*/

.wrapper {
  margin: 10px auto 0;
  width: 800px;
  border: 1px #ccc;
}

.tabs {
  height: 70px;
  width: 100%;
}

.tab {
  float: left;
  padding: 10px;
}

.subTabs {
  padding: 0 10px 0 10px;
}

.subTabs-1 {
  display: block;
}

.subTabs-2 {
  display: none;
}

.subTabs-3 {
  display: none;
}


/*---Форма---*/
span.help {
  display: none;
}

.input3 {
  margin: 0 0 0 10px;
}


label {
  margin: 10px;
}
