<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<script   src="https://code.jquery.com/jquery-1.12.3.js"
	   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
	   crossorigin="anonymous"></script>

	<script src="js/script.js"></script>
	<script src="js/slider.js"></script>
	<script src="js/template.js"></script>



	</script>
</head>

<body>
	<div class="wrapper">
		<div class="carousel-arrow-left">
			<span>Влево</span>
		</div>
		<div 	class="carousel-hider">
			<ul class="carousel-list">
				<li class="carousel-element"><img src="img/img1.jpg"><p>Описание 1</p></li>
				<li class="carousel-element"><img src="img/img2.jpg"><p>Описание 2</p></li>
				<li class="carousel-element"><img src="img/img3.jpg"><p>Описание 3</p></li>
				<li class="carousel-element"><img src="img/img4.jpg"><p>Описание 4</p></li>
				<li class="carousel-element"><img src="img/img5.jpg"><p>Описание 5</p></li>
				<li class="carousel-element"><img src="img/img6.jpg"><p>Описание 6</p></li>
				<li class="carousel-element"><img src="img/img1.jpg"><p>Описание 7</p></li>
				<li class="carousel-element"><img src="img/img2.jpg"><p>Описание 8</p></li>
				<li class="carousel-element"><img src="img/img3.jpg"><p>Описание 9</p></li>
				<li class="carousel-element"><img src="img/img4.jpg"><p>Описание 10</p></li>
				<li class="carousel-element"><img src="img/img5.jpg"><p>Описание 11</p></li>
				<li class="carousel-element"><img src="img/img6.jpg"><p>Описание 12</p></li>
			</ul>
		</div>
		<div class="carousel-arrow-right">
			<span>Вправо</span>
		</div>

	</div>

<section>
	<script type="text/html" id="page">
		<div class="main">
		<h1><%= name %></h1>
		<p class="img"><img src="img/photo.jpg" alt="My photo"> </p>
		<p><%= education %></p>

		<hr>

		<div>Хочу изучать фронтэнд, потому что:
			<ul>
				<% for (var i = 0; i < reason.length; i++) { %>
				<li><%= reason[i].content %></li>
				<% }; %>
			</ul>
		</div>

		<hr>

		<div>
			<p>Мой контактный телефон:</br>
			<%= phone %></p>


			<p>Мой e-mail:</br>
			<a href="mailto:<%= mail %>"><%= mail %></a></p>


			<p>Мой профиль фейсбук</br>
			<a href="<%= fb %>" target="_blank">facebook.com</a></p>
		</div>

		<hr>

		<div>
			<p>Мой фидбек:</br>
			<%= feedback %></p>

		</div>
	</div>


	</script>
</section>

</body>
</html>
